# Unsafe documentation
COMMANDS.md

# Mac
.DS_Store

# Data / SQL


# Docker
deploy

# Environment
.env

# Composer installations
src/theme/vendor
/vendor/
public/wp
public/wp-content/plugins

# Logs
public/wp-content/debug.log
